top {
 font-size: 30px;
 color: #333;
}
songs {
 font-size: 25px;
 padding: 20px;
}
song { 
 margin-left:20px;
}
artist {
 color: Indigo;
}
title {
 color: DarkViolet;
}
genre {
 color: DeepPink;
}
year {
 color: Fuchsia;
}
bottom {
 font-size: 20px;
 color: LightGray;
}
